<%= form_for @stage do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
      <div class='field'>
        <%= form.label :name, t('.name') %>
        <%= form.text_area :name, class: 'form-control text-center' %>
      </div>

      <div class='field'>
        <%= form.label :address, t('.address') %>
        <%= form.text_area :address, class: 'form-control text-center' %>
      </div>

      <div class='field'>
        <%= form.label :phone_number, t('.phone_number') %>
        <%= form.text_area :phone_number, class: 'form-control text-center' %>
      </div>

      <div class='actions' id='category-submit'>
        <%= form.submit t('.submit'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
